<%- include('../partials/header') %>
<div class='childHeader'>
    <img src='/'>
    <h2>Kieran</h2>
</div>
<h5>Age: 2y 5mo</h5>
<div id='milestones'>
    <h4>Developmental Milestones</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iste facilis dignissimos ipsa enim fuga nam vel consectetur recusandae vero est necessitatibus soluta, modi, magnam maxime sit. Dolor, impedit laudantium.</p>
</div>
<div id='events'>
    <h4 class='eventTitle'>Kierans Events</h4>
    <button class='eventTitle'>Add Event</button>
</div>
<%- include('../partials/footer') %>