<%- include('../partials/header') %>

<br>

<form>
    <h2>Congratulations!</h2>
    <div class="form-row">    
        <div class="form-group col-md-5">
        <label for="childName">Name</label>
        <input type="text" class="form-control" id="childName" placeholder="Child's Name">
        </div>

        <div class="form-group col-md-3">
        <label for="dob">DOB</label>
        <input type="date" class="form-control" id="dob">
        </div>

        <div class="form-group col-md-2">
        <label for="sex">Sex</label>
        <select class="form-control" id="sex">
            <option></option>
            <option>Boy</option>
            <option>Girl</option>
            <option>Other</option>
        </select>
        </div>
    </div>    


    <br><h4>Birth Size</h4>
    <div class="form-row">
        <div class="form-group col-md-5">
        <label for="birHtFt">Feet</label>
        <input type="number" min="0" class="form-control" id="birHtFt" placeholder="Feet">
        </div>

        <div class="form-group col-md-4">
        <label for="birHtIn">Inches</label>
        <input type="number" min="0" max="11" class="form-control" id="birHtIn" placeholder="Inches">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
        <label for="birWtLbs">Pounds</label>
        <input type="number" min="0" class="form-control" id="birWtLbs" placeholder="Pounds">
        </div>

        <div class="form-group col-md-4">
        <label for="birWtOz">Ounces</label>
        <input type="number" min="0" max="15" class="form-control" id="birWtOz" placeholder="Ounces">
        </div>
    </div>


    <br><h4>Birth Location</h4>
    <div class="form-group col-md-10">
        <label for="hospital">Hospital</label>
        <input type="text" class="form-control" id="hospital" placeholder="UCSF Benioff Children's Hospital">
    </div>

    <div class="form-group col-md-10">
        <label for="birStreet">Address</label>
        <input type="text" class="form-control" id="birStreet" placeholder="1234 Market St">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="birCity">City</label>
        <input type="text" class="form-control" id="birCity" placeholder="San Francisco">
        </div>

        <div class="form-group col-md-4">
        <label for="birState">State</label>
        <select id="birState" class="form-control">
            <option selected>Choose...</option>
            <option>California</option>
            <option>other States</option>
        </select>
        </div>

        <div class="form-group col-md-2">
        <label for="birZip">Zip</label>
        <input type="number" min="00000" max="99999" class="form-control" id="birZip" placeholder="94111">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="cancel" class="btn btn-secondary">Cancel</button>
</form>

<!-- <%- include('../partials/footer') %> -->


</main>
</body>
</html>