
<%- include('partials/header') %>

<div id='splash'>
  <img src="/">
  <h1><%= title %></h1>
</div>

<div id='appDetails'>
  <h3>App Details</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloremque. Nulla ad odio nam molestiae asperiores dolorum itaque aperiam quod. Magnam cupiditate fugiat quisquam totam veniam exercitationem, at perspiciatis dolorum?</p>
</div>

<%- include('partials/footer') %>