body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: rgb(70, 128, 216);
}

body nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: ivory;
  color: rgb(61, 58, 58);
}

body nav img {
  display: flex;
  justify-content: flex-start;
}

body nav img {
  width: 30px;
  border-radius: 50%;
}