*::before, *::after {
  box-sizing: inline-block;
}
.childHeader {
  display: flex;
  justify-content: flex-start;
  text-align: flex-start;
  color: darkgray;
  padding-top: 1em;
  padding-left: 2em;
  width: 100%;
  font-size: 20px;
}
.childHeader img{
  display: flex;
  text-align: flex-start;
  padding-left: 0;
  padding-right: 10%;
}
body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: rgb(70, 128, 216);
}

body nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(214, 214, 209);
  color: rgb(61, 58, 58);
  padding: 1em;
  height: 6%;
  width: 100%;
}

body nav img {
  display: flex;
  justify-content: flex-start;
}

body nav img {
  width: 30px;
  border-radius: 50%;
}

.eventTitle {
  display: inline-block;
}

#footer {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 1em;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: lightgray;
}