body {
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: ivory;
}

a {
  color: rgb(216, 70, 184);
}

body nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

body nav img {
  display: flex;
  justify-content: flex-start;
}

body nav img {
  width: 30px;
  border-radius: 50%;
}