<%- include('../partials/header') %>

<br>
<form>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Milestone Title</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Milestone Type</label>
        <select class="form-control" id="exampleFormControlSelect1">
        <option>Communications</option>
        <option>Motor</option>
        <option>Sensory</option>
        <option>Feeding</option>
        <option>Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Date</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Enter Details">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Additional Details</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>

    <button type="button" class="btn btn-primary btn-lg">Submit</button>
    <button type="button" class="btn btn-secondary btn-lg">Cancel</button>
    
</form>

<%- include('../partials/footer') %>